{% extends "base.html" %} {% block content %}
<script>

// This function handles downloading url generation and final CSV file downloading.
function redirectURL() {
    // loading_indicator_trigger();
    var InACI;
    InACI = document.getElementById("acisa").value;
    var listing = InACI.split(',');
    for (var i = 0; i < listing.length; i++) {
        if (TargetACISAs.indexOf(listing[i]) < 0) {
            IlliList.push(listing[i]);
        }
    }
    if (IlliList.length > 0) {
        alert("ACISA Nunmbers: '" + IlliList.join() + "' illegal, please double check.");
        for (var i = 0; i < IlliList.length; i++) {
            selectedACISAs.splice(selectedACISAs.indexOf(IlliList[i]), 1);
        }
        IlliList = [];
        document.getElementById("acisa").value = selectedACISAs.join();
        return;
    }
    var TRange;
    TRange = document.getElementById("reservationtime").value;
    var returningStr;
    returningStr = "report?TRange=" + TRange;
    if (document.getElementById("acisa").value != "") {
        returningStr += "&acisa=" + document.getElementById("acisa").value;
    }
    window.location = returningStr;
    // loading_indicator_trigger();
}

function redirectURL_inc() {
    var jsvar1;
    var jsvar2;
    var jsvar3;
    jsvar1 = document.getElementById("start_time").value;
    jsvar2 = document.getElementById("end_time").value;
    jsvar3 = document.getElementById("key_word").value;
    window.location = "Incidents/22stttm=" + jsvar1 + "&endtm=" + jsvar2 + "&kw=" + jsvar3;
}

$(document).ready(function() {

    // User information checking functions.
    $("#btn_submit").click(function() {
        var Username = $("#inputUname").val();
        var Useragen = $("#inputAgency").val();
        var Usercomm = $("#inputComment").val();
        if (Username == "") {
            $('#NoName').modal('toggle');
            $('html, body').animate({
                scrollTop: $("#abtuser").offset().top
            }, 2000);
            return;
        }
        if (Useragen == "") {
            $('#NoAgen').modal('toggle');
            $('html, body').animate({
                scrollTop: $("#abtuser").offset().top
            }, 2000);
            return;
        }
        if (Usercomm == "") {
            $('#NoComm').modal('toggle');
            $('html, body').animate({
                scrollTop: $("#abtuser").offset().top
            }, 2000);
            return;
        }
        $.post("goRequest", {
                uname: Username,
                uagen: Useragen,
                ucomment: Usercomm
            },
            function(data, status) {
                $("#StopSign").css("display", "none");
                $("#GoSign").css("display", "block");
                $('#Complete').modal('toggle');
                $('html, body').animate({
                    scrollTop: $("#download").offset().top
                }, 1000);
            });
    });
});
</script>

<span class="anchor" id="beginer"></span>
<div class="jumbotron">
    <h1>DDOT Data Sharing Website</h1>
    <p>DDOT in 2013 completed the installation of 142 vehicle counting station in DC arterials. The stations collect data every minute in real time and send the information to our Traffic Management Center. All the sensors are located on mid -block and provide speed, volume and occupancy.</p>
    <p><a href="#dscpt" class="btn btn-primary btn-lg" role="button" onclick="$('html, body').animate({scrollTop: $('#dscpt').offset().top}, 2000);">Project Description</a>
    </p>
</div>

<div class="span12" style="visibility: visible;">
    <span class="anchor" id="abtuser"></span>
    <h1><b>Please fill in your details</b>
    </h1>
    <hr/>
    <h4>Provide your details about your agency and how you plan to use the data for your work. (Fields marked by <asterisk>*</asterisk> are required.)</b>:</h4>
    <div class="well" style="overflow: auto">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputUname">
                    <asterisk>*</asterisk>Name:</label>
                <div class="controls">
                    <input type="text" class="form-control" id="inputUname" placeholder="Name" name="uname" required="true">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAgency">
                    <asterisk>*</asterisk>Agency:</label>
                <div class="controls">
                    <input type="text" class="form-control" id="inputAgency" placeholder="Agency" name="uagen">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputComment">
                    <asterisk>*</asterisk>Purpose for downloading data:</label>
                <div class="controls">
                    <textarea class="form-control" id="inputComment" rows="10" cols="100%" name="ucomment"></textarea>
                </div>
            </div>
        </form>
        <button id="btn_submit" class="btn btn-primary" style="margin: 10px;" data-toggle="modal">Submit</button>
    </div>
</div>

<div class="span12">
    <span class="anchor" id="download"></span>
    <h1><b>Data Download</b>
    </h1>
    <hr/>
    <div id="StopSign" class="span12" style="display: block;">
        <div class="well">
            <h4>
                The data form is available upon filling details in above section.
            </h4>
        </div>
    </div>
    <div id="GoSign" class="span12" style="display: none;">
        <h4>Data Downloading Options</h4>
        <div class="well">
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <table>
                                    <thead>
                                        <th>Choose Start and End times:</th>
                                        <th>ACISA No.</th>
                                    </thead>
                                    <tbody>
                                        <td style="width: 350px">
                                            <input type="text" style="width: 300px;" name="reservation" id="reservationtime" class="form-control" value="08/01/2013 1:00 PM - 08/01/2013 1:30 PM" class="span4" />
                                        </td>
                                        <td style="width: 250px">
                                            <input type="text" style="width: 200px" name="acisa" id="acisa" class="form-control" value="" class="span3" onchange="Check()" />
                                        </td>
                                        <td>
                                            <button id="btn" class="btn btn-primary" type="button" href="#" onclick="redirectURL();">Download Data</button>
                                        </td>
                                    </tbody>
                                    <div id="loadhere"></div>
                                </table>
                                <hr/>
                                <p>
                                    Don't know the ACISA sensors location or how they work? See the <a>Map</a> below or read the <a href="#dscpt" onclick="$('html, body').animate({scrollTop: $('#dscpt').offset().top}, 2000);">Descriptions</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <script type="text/javascript">
            $(document).ready(function() {
                $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    format: 'MM/DD/YYYY h:mm A'
                }, function(start, end) {
                    console.log(start.toISOString(), end.toISOString());
                });
            });
            </script>
        </div>
    </div>
    <h4>Traffic Sensor Stations</h4>
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div id="map-canvas"></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>

<div class="span12">
    <span class="anchor" id="dscpt"></span>
    <h1><b>More Information</b>
    </h1>
    <hr/>
    <div id="descript" class="span12">
        <div class="well">
            <h1>
                Traffic Detection Stations
            </h1>
            <h4>

            </h4>
        </div>
    </div>
</div>

{% endblock %}
